.Xauthority
.bash_history
.bash_profile
.cache/
.config/Thunar/
.config/Trolltech.conf
.config/bashrun/
.config/cairo-compmgr/
.config/compiz/
.config/gpicview/
.config/gtk-2.0/
.config/nitrogen/
.config/xarchiver/
.dbus/
.config/vlc/
.esd_auth
.fehrc
.fontconfig/
.galculator
.gconf/
.gconfd/
.gimp-2.6/
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.icons/
.kde/
.kde4/
.lesshst
.local/
.macromedia/
.mount_lacie.txt
.mozilla/
.purple/
.recently-used.xbel
.ssh/
.thumbnails/
.viminfo
documents/

