#################### PANEL BACKGROUND #########################xx

style "panelbg"
{
  
  bg[NORMAL]        =  "#1c0b01"

 xthickness            			= 0
  ythickness            			= 0

}

class "*Panel*" style "panelbg"
widget_class "*notif*" style "panelbg"
widget_class "*Notif*" style "panelbg"
widget_class "*Tray*" style "panelbg"
widget_class "*tray*" style "panelbg"


widget_class "*Panel*" style "panelbg"

